body {
    background: #2BC0E4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Roboto', sans-serif;
}

h3 {
    margin: 0;
    padding: 10px 20px;
    background-color: #2980d9;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
}

h4 {
    text-align: center;
    padding: 10px;
    margin-top: 5px;
}

li {
    background-color: #fff;
    height: 40px;
    line-height: 40px;
    color: #666;
}

li:nth-child(2n) {
    background-color: #f7f7f7;
}

input {
    font-size: 18px;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #2980d9;
    border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
    background-color: white;
    border: 3px solid #2980d9;
    outline: none;
}

span {
    background-color: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    width: 0;
    display: inline-block;
    color: white;
    transition: linear 250ms;
    opacity: 0;
}

li:hover span{
    width: 40px;
    opacity: 1;
}

#container {
    background-color: #f7f7f7;
    width: 360px;
    margin: 100px auto;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

#taskList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.done {
    text-decoration: line-through;
    font-style: italic;
    color: gray;
}